<div class='container containerMargin' style='margin-bottom: 550px;'>
	<div class='row'>
		<div class='col-xs-12'><img class='img-responsive' src="img/flo_map_hd_bw.jpg"></div>
	</div>
	<div class='row'>
		<div class='col-xs-12'>
		<h1 id='about-title'>About Us</h1>
		<p style='font-size:1.3em;'>Retro Tee Co. is an American brand that produces premium graphic tees using retro imagery and/or art. You can reach us at <a href="mailto:hello@retroteeco.com">hello@retroteeco.com</a> for any questions and concerns. Your satisfaction is our main priority.</p>
		</div>
	</div>
</div>