<div class='container containerMargin' style='margin-bottom: 150px'>
	<div class='row' style='margin-bottom: 15px; margin-left: 10px;'>
		<h1 id='faq-title'>Frequently Asked Questions</h1>
	</div>
	<div class='row' id='faq'>
		<div class='col-xs-12'>
			<ul class='list-group'>
				<li class='list-group-item'>
					<a class='faq-link' href='#/faq' ng-click='showRow1 = !showRow1'><h4>What is your return policy?</h4></a>
					<p class='faq-answer' ng-show='showRow1'>Returns are easy. We’ll gladly accept for return or exchange within 90 days of purchase any merchandise purchased from retroteeco.com that has not been altered. Just email us at <a href='mailto:returns@retroteeco.com'>returns@retroteeco.com</a> to start the return or exchange process</p>
				</li>
				<li class='list-group-item'>
					<a class='faq-link' href='#/faq' ng-click='showRow2 = !showRow2'><h4>What is your shipping policy?</h4></a>
					<p class='faq-answer' ng-show='showRow2'>Domestic shipping is free and we use USPS Priority Mail. You should receive your merchandise within 1-3 business days after your order is processed. We currently do not offer international shipping</p>
				</li>
				<li class='list-group-item'>
					<a class='faq-link' href='#/faq' ng-click='showRow3 = !showRow3'><h4>What is water-based ink print?</h4></a>
					<p class='faq-answer' ng-show='showRow3'>Water based ink is a special type of decorative ink that literally soaks into the fabric instead of sitting on top of it, as plastisol does. Since the fabric isn’t compromised by the ink, garments are left with a super soft and natural feeling print. You literally won’t even feel the print, which is one of the many benefits of water based inks</p>
				</li>
				<li class='list-group-item'>
					<a class='faq-link' href='#/faq' ng-click='showRow4 = !showRow4'><h4>Where are the t-shirts produced?</h4></a>
					<p class='faq-answer' ng-show='showRow4'>The fabric is produced in the United States as well as the printing of the graphics.</p>
				</li>
				<li class='list-group-item'>
					<a class='faq-link' href='#/faq' ng-click='showRow5 = !showRow5'><h4>Where is Retro Tee Co. located?</h4></a>
					<p class='faq-answer' ng-show='showRow5'>We’re located in South Florida</p>
				</li>
				<li class='list-group-item'>
					<a class='faq-link' href='#/faq' ng-click='showRow6 = !showRow6'><h4>Are you on social media?</h4></a>
					<p class='faq-answer' ng-show='showRow6'>You will find us on <a href='https://twitter.com/retroteeco'>Twitter</a>, <a href="https://instagram.com/retroteeco">Instagram</a>, and <a href="https://facebook.com/retroteeco">Facebook</a></p>
				</li>
			</ul>
		</div>
	</div>
</div>