<div class='container-fluid containerMargin' id='homeContainer'>
	<div class='row'>
		<div class='col-sm-12 col-md-offset-1 col-md-5' id='bannerContainer'>
			<div class='col-xs-12' id='bannerA' ><a href="" data-toggle="modal" data-target="#organic-cotton" id='organic-cotton-link'><img class='img-responsive img-thumbnail' src="img/image001.png"></img></a></div>
			<div class='col-xs-12' id='bannerB'><a href="" data-toggle='modal' data-target='#made-in-usa'><img class='img-responsive img-thumbnail' src="img/image002.png"></img></a></div>
		</div>
		<div class='col-sm-12 col-md-5'>
			<div class='col-xs-12' id='shopNow'><a href="#/store" analytics-on="click" analytics-event="go-to-store" analytics-label="home-store-banner"><img class='img-responsive img-thumbnail' src="img/box3.png"></img></a><div>
		</div>
	</div>
</div>

<div class='modal fade' role='dialog' id='made-in-usa'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h3>Six Reasons to Support Manufacturers in America</h3>
      </div>
      <div class='modal-body'>
        <table class='table-responsive'>
        <table class='table table-hover table-bordered'>
          <tbody>
            <tr>
              <td><b>The Job Creation Equation</b></td>
              <td>If every customer purchased just 5 percent more U.S.-made products, it would create 220,000 jobs.</td>
            </tr>
            <tr>
              <td><b>Recycling Dollars</b></td>
              <td>When you buy U.S.-made products, the proceeds remain in the U.S. economy.</td>
            </tr>
            <tr>
              <td><b>One Environment</b></td>
              <td>American manufacturers abide by strict environmental safe-guards and reduce transportation emissions</td>
            </tr>
            <tr>
              <td><b>Intellectual Capital</b></td>
              <td>Domestic manufactring helps maintain a skilled motivated workforce keeping innovation alive.</td>
            </tr>
            <tr>
              <td><b>Human Rights</b></td>
              <td>We proudly follow fair labor practices with strict regulations to provide secure and satisfying working conditions.</td>
            </tr>
            <tr>
              <td><b>Quality/Time to Market</b></td>
              <td>Particularly with fashion, quality and keeping up with the latest style are key. Fashionable style with reliable quality provide a better customer experience.</td>
            </tr>
          </tbody>
        </table>
        </table>
      </div>
      <div class='modal-footer'>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class='modal fade' role='dialog' id='organic-cotton'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h3>Organic Cotton vs Non-Organic</h3>
      </div>
      <div class='modal-body'>
        <table class='table-responsive'>
        <table class='table table-hover table-bordered'>
          <thead>
            <tr>
              <th>  </th>
              <th>Organic</th>
              <th>Conventional</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Seeds</td>
              <td>GMO-Free; untreated</td>
              <td>Treated with fungicides, insecticides. Possible genetic modification.</td>
            </tr>
            <tr>
              <td>Soil</td>
              <td>Crop rotation; cover cropping, better retention of moisture, higher concentrations of organic matter; animal manure additions</td>
              <td>Synthetic fertilizers, loss of soil due to monocrop culture, intensive irrigation</td>
            </tr>
            <tr>
              <td>Weed &amp; Insect control</td>
              <td>Beneficial insects and 'trap crops' used; flame weeding, and cultivation; Border management of vegetation (to increase population of native beneficials); use of certain bio pesticides such as bacteria, virus' and fungal insect pathogens</td>
              <td>Aerial spraying for insecticides used &amp; pestiides; 9 of the most commonly pesticides are known cancer-causing agents</td>
            </tr>
            <tr>
              <td>Harvesting</td>
              <td>Natural defoliation from freezing temperatures or through the use of water management</td>
              <td>Defoliation induced with toxic chemicals</td>
            </tr>
            <tr>
              <td>Whitening</td>
              <td>Safe peroxide is used</td>
              <td>Chloride bleaching is used; toxic byproducts produced and released into environment in the process</td>
            </tr>
            <tr>
              <td>Finishing</td>
              <td>Soft scour in warm water with soda asj for Ph of 7.5-7.8</td>
              <td>Hot water, synthetic surfactants, additional chemicals (sometimes formaldehyde)</td>
            </tr>
          </tbody>
        </table>
        </table>
      </div>
      <div class='modal-footer'>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>